.header__logo {
    margin-bottom: 41px;
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 480px) {
    .header__logo {
      margin: 0 0 32px 27px;
      width: 104px;
      height: 24px;
    }
  }