.popup__close-button {
    padding: 0;
    width: 32px;
    height: 32px;

    position: absolute;
    top: -40px;
    right: -40px;

    background-image: url(../../../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: rgba(0, 0, 0, 0);

    transition: opacity 0.4s linear;
    border: none;
}

.popup__close-button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .popup__close-button {
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url(../../../images/Close\ Icon\ small.svg); /* Не смог подстроить картинку большего размера под размер 20на20, чтоб не срезались углы.
         Так как object-fit не помог, придумал только такой "костыль" */
    }
}