.elements-grid__list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 17px;
}

@media screen and (max-width: 1200px) {
    .elements-grid__list {
        grid-template-columns: repeat(2, auto);
        justify-content: space-around; 
    }
    
}

@media screen and (max-width: 810px) {
    .elements-grid__list {
        grid-template-columns: repeat(1, auto);
        gap: 20px;
    }
}